<form [formGroup]="form" (ngSubmit)="submit()" class="product-form">
  <fieldset formGroupName="product" class="border p-4 rounded product-fieldset">
    <legend>Ürün</legend>

    <div class="form-grid">
      <div class="form-grid-item">
        <dx-text-box
          formControlName="name"
          label="Ad *"
          labelMode="floating"
          [showClearButton]="true"
        ></dx-text-box>
      </div>

      <div class="form-grid-item">
        <dx-text-box
          formControlName="quantityPerUnit"
          label="Birim Başına Miktar *"
          labelMode="floating"
          [showClearButton]="true"
        ></dx-text-box>
      </div>

      <div class="form-grid-item">
        <dx-number-box
          formControlName="unitPrice"
          label="Birim Fiyat *"
          labelMode="floating"
          [showSpinButtons]="true"
          [min]="0"
        ></dx-number-box>
      </div>

      <div class="form-grid-item">
        <dx-number-box
          formControlName="unitsInStock"
          label="Stoktaki Ürün"
          labelMode="floating"
          [showSpinButtons]="true"
          [min]="0"
        ></dx-number-box>
      </div>

      <div class="form-grid-item">
        <dx-number-box
          formControlName="unitsOnOrder"
          label="Siparişteki Ürün"
          labelMode="floating"
          [showSpinButtons]="true"
          [min]="0"
        ></dx-number-box>
      </div>

      <div class="form-grid-item">
        <dx-number-box
          formControlName="reorderLevel"
          label="Yeniden Sipariş"
          labelMode="floating"
          [showSpinButtons]="true"
          [min]="0"
        ></dx-number-box>
      </div>

      <div class="form-grid-full discontinued-field">
        <dx-check-box formControlName="discontinued" text="Pasif"></dx-check-box>
      </div>
    </div>
  </fieldset>

  <section class="border p-4 rounded orders-section">
    <div class="orders-header">
      <legend>Siparişler (opsiyonel)</legend>
      <dx-button text="Sipariş Ekle" icon="add" type="default" (onClick)="addOrder()"></dx-button>
    </div>

    <div formArrayName="orders" class="orders-list">
      @for (orderFG of ordersFA.controls; let i = $index; track i) {
        <div [formGroupName]="i" class="border rounded p-3 order-card">
          <div class="order-card-header">
            <h4>Sipariş #{{ i + 1 }}</h4>
            <dx-button
              text="Kaldır"
              type="danger"
              icon="trash"
              stylingMode="text"
              (onClick)="removeOrder(i)"
            ></dx-button>
          </div>

          <div class="order-grid">
            <div class="order-grid-item">
              <dx-text-box
                formControlName="customerId"
                label="Müşteri ID"
                labelMode="floating"
                [showClearButton]="true"
              ></dx-text-box>
            </div>

            <div class="order-grid-item">
              <dx-number-box
                formControlName="employeeId"
                label="Personel ID"
                labelMode="floating"
                [showSpinButtons]="true"
              ></dx-number-box>
            </div>

            <div class="order-grid-item">
              <dx-date-box
                formControlName="orderDate"
                label="Sipariş Tarihi"
                labelMode="floating"
                type="date"
                dateSerializationFormat="yyyy-MM-dd"
              ></dx-date-box>
            </div>

            <div class="order-grid-item">
              <dx-date-box
                formControlName="requiredDate"
                label="Gerekli Tarih"
                labelMode="floating"
                type="date"
                dateSerializationFormat="yyyy-MM-dd"
              ></dx-date-box>
            </div>

            <div class="order-grid-item">
              <dx-date-box
                formControlName="shippedDate"
                label="Gönderim Tarihi"
                labelMode="floating"
                type="date"
                dateSerializationFormat="yyyy-MM-dd"
              ></dx-date-box>
            </div>

            <div class="order-grid-item">
              <dx-number-box
                formControlName="shipVia"
                label="Nakliye Kanalı"
                labelMode="floating"
                [showSpinButtons]="true"
              ></dx-number-box>
            </div>

            <div class="order-grid-item">
              <dx-number-box
                formControlName="freight"
                label="Nakliye Ücreti"
                labelMode="floating"
                [showSpinButtons]="true"
                [min]="0"
              ></dx-number-box>
            </div>

            <div class="order-grid-item">
              <dx-text-box
                formControlName="shipName"
                label="Gönderim Adı"
                labelMode="floating"
                [showClearButton]="true"
              ></dx-text-box>
            </div>
          </div>

          <fieldset formGroupName="shipAddress" class="border p-3 rounded ship-address">
            <legend>Teslimat Adresi</legend>
            <div class="address-grid">
              <div class="address-grid-item">
                <dx-text-box
                  formControlName="street"
                  label="Sokak"
                  labelMode="floating"
                  [showClearButton]="true"
                ></dx-text-box>
              </div>

              <div class="address-grid-item">
                <dx-text-box
                  formControlName="city"
                  label="Şehir"
                  labelMode="floating"
                  [showClearButton]="true"
                ></dx-text-box>
              </div>

              <div class="address-grid-item">
                <dx-text-box
                  formControlName="region"
                  label="Bölge"
                  labelMode="floating"
                  [showClearButton]="true"
                ></dx-text-box>
              </div>

              <div class="address-grid-item">
                <dx-number-box
                  formControlName="postalCode"
                  label="Posta Kodu"
                  labelMode="floating"
                  [showSpinButtons]="true"
                ></dx-number-box>
              </div>

              <div class="address-grid-item">
                <dx-text-box
                  formControlName="country"
                  label="Ülke"
                  labelMode="floating"
                  [showClearButton]="true"
                ></dx-text-box>
              </div>
            </div>
          </fieldset>

          <div class="border rounded p-3 details-card">
            <div class="details-header">
              <h5>Detaylar</h5>
              <dx-button
                text="Detay Ekle"
                icon="add"
                type="default"
                stylingMode="text"
                (onClick)="addDetail(i)"
              ></dx-button>
            </div>

            <div formArrayName="details" class="details-list">
              @for (d of getDetailsFA(i).controls; let j = $index; track j) {
                <div [formGroupName]="j" class="details-grid">
                  <dx-number-box
                    formControlName="productId"
                    label="Ürün ID"
                    labelMode="floating"
                    [showSpinButtons]="true"
                  ></dx-number-box>

                  <dx-number-box
                    formControlName="unitPrice"
                    label="Birim Fiyat"
                    labelMode="floating"
                    [showSpinButtons]="true"
                    [min]="0"
                  ></dx-number-box>

                  <dx-number-box
                    formControlName="quantity"
                    label="Miktar"
                    labelMode="floating"
                    [showSpinButtons]="true"
                    [min]="1"
                  ></dx-number-box>

                  <dx-number-box
                    formControlName="discount"
                    label="İndirim (0-1)"
                    labelMode="floating"
                    [showSpinButtons]="true"
                    [min]="0"
                    [max]="1"
                    [step]="0.05"
                  ></dx-number-box>

                  <div class="details-actions">
                    <dx-button
                      text="Detayı Kaldır"
                      type="danger"
                      stylingMode="text"
                      icon="trash"
                      (onClick)="removeDetail(i, j)"
                    ></dx-button>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </section>

  <div class="flex gap-3">
    <dx-button
      [text]="isEdit() ? 'Güncelle' : 'Oluştur'"
      type="success"
      [useSubmitBehavior]="true"
    ></dx-button>
  </div>
</form>
