<h2>Yönetim Ürün Listesi</h2>
<dx-button text="Yeni Ürün Ekle" (onClick)="addNewProduct()"></dx-button>
<dx-data-grid
  [dataSource]="products | async"
  [columns]="[
    'id',
    'supplierId',
    'categoryId',
    'quantityPerUnit',
    'unitPrice',
    'unitsInStock',
    'unitsOnOrder',
    'reorderLevel',
    'discontinued'
  ]"
  [showBorders]="true"
  keyExpr="id"
  (onRowUpdated)="updateProduct($event)"
  (onRowRemoved)="deleteProduct($event)"
  (onEditingStart)="startEditing()"
  (onEditCanceled)="stopEditing()"
  (onSaved)="stopEditing()"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true" />
  <dxi-column dataField="id" caption="Ürün ID" width="100px" />
  <dxi-column dataField="supplierId" caption="Tedarikçi ID" width="100px" />
  <dxi-column dataField="categoryId" caption="Kategori ID" width="100px" />
  <dxi-column
    dataField="quantityPerUnit"
    caption="Birim Başına Miktar"
    width="100px"
    minWidth="100px"
  />
  <dxi-column dataField="unitPrice" caption="Birim Fiyat" format="currency" width="100px" />
  <dxi-column dataField="unitsInStock" caption="Stoktaki Ürün" width="100px" />
  <dxi-column dataField="unitsOnOrder" caption="Siparişteki Ürün" width="100px" />
  <dxi-column dataField="reorderLevel" caption="Yeniden Sipariş" width="100px" />
  <dxi-column dataField="discontinued" caption="Pasif" dataType="boolean" width="100px" />
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" />
  <dxi-column type="buttons" minWidth="100" fixed="right">
    @if(!editingGrid()) {
    <dxi-button name="detail" icon="info" [onClick]="goToDetail"></dxi-button>

    <dxi-button name="edit" icon="edit"></dxi-button>
    <dxi-button name="delete" icon="trash"></dxi-button>
    } @else {
    <dxi-button name="save" icon="save"></dxi-button>
    <dxi-button name="cancel" icon="close"></dxi-button>
    }
  </dxi-column>
</dx-data-grid>
