<h2>Admin Product List Page</h2>
<dx-button text="Add New Product" (onClick)="addNewProduct()"></dx-button>
<dx-data-grid
  [dataSource]="products | async"
  [columns]="[
    'id',
    'supplierId',
    'categoryId',
    'quantityPerUnit',
    'unitPrice',
    'unitsInStock',
    'unitsOnOrder',
    'reorderLevel',
    'discontinued'
  ]"
  [showBorders]="true"
  keyExpr="id"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true" />
  <dxi-column dataField="id" caption="Product ID" />
  <dxi-column dataField="supplierId" caption="Supplier ID" />
  <dxi-column dataField="categoryId" caption="Category ID" />
  <dxi-column dataField="quantityPerUnit" caption="Quantity Per Unit" />
  <dxi-column dataField="unitPrice" caption="Unit Price" format="currency" />
  <dxi-column dataField="unitsInStock" caption="Units In Stock" />
  <dxi-column dataField="unitsOnOrder" caption="Units On Order" />
  <dxi-column dataField="reorderLevel" caption="Reorder Level" />
  <dxi-column dataField="discontinued" caption="Discontinued" dataType="boolean" />
  <dxi-column type="buttons">
    <dxi-button hint="Open" text="Open" [onClick]="goToDetail"></dxi-button>
  </dxi-column>
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" />
</dx-data-grid>
