<h2>Yönetim Ürün Listesi</h2>
<div class="d-flex flex-wrap gap-2 mb-3">
  <dx-button
    text="Ana Sayfa"
    icon="home"
    type="normal"
    stylingMode="contained"
    routerLink="/admin/home"
  ></dx-button>
  <dx-button
    text="Yeni Ürün Ekle"
    icon="plus"
    type="success"
    stylingMode="contained"
    routerLink="/admin/products/new"
  ></dx-button>
</div>
@if(dataGridDataSource){
<dx-data-grid
  [dataSource]="dataGridDataSource"
  [columns]="[
    'id',
    'supplierId',
    'categoryId',
    'quantityPerUnit',
    'unitPrice',
    'unitsInStock',
    'unitsOnOrder',
    'reorderLevel',
    'discontinued'
  ]"
  [showBorders]="true"
  keyExpr="id"
  (onRowClick)="goToDetail($event)"
  (onEditingStart)="startEditing()"
  (onEditCanceled)="stopEditing()"
  (onRowInserting)="startEditing()"
  (onSaved)="stopEditing()"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true" />
  <dxi-column dataField="id" caption="Ürün ID" width="100px" />
  <dxi-column dataField="name" caption="Ürün" minWidth="160px" />
  <dxi-column dataField="unitPrice" caption="Birim Fiyat" format="currency" width="120px" />
  <dxi-column dataField="unitsInStock" caption="Stoktaki Ürün" width="130px" />
  <dxi-column dataField="unit" caption="Birim" width="100px" />
  <dxi-column dataField="discontinued" caption="Pasif" dataType="boolean" width="100px" />
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" />
  <dxi-column type="buttons" minWidth="100" fixed="right">
    @if(!editingGrid()) {
    <dxi-button name="detail" icon="info" [onClick]="goToDetail"></dxi-button>

    <dxi-button name="edit" icon="edit"></dxi-button>
    <dxi-button name="delete" icon="trash"></dxi-button>
    } @else {
    <dxi-button name="save" icon="save"></dxi-button>
    <dxi-button name="cancel" icon="close"></dxi-button>
    }
  </dxi-column>
</dx-data-grid>
}
