<div class="login-page">
  <h2>Kayıt Sayfası</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <dx-text-box
        label="Ad Soyad"
        labelMode="floating"
        formControlName="fullName"
        placeholder="Adınız ve soyadınız"
      />
    </div>
    <div class="mb-3">
      <dx-text-box
        mode="email"
        label="E-posta"
        labelMode="floating"
        formControlName="email"
        aria-describedby="emailHelpId"
        placeholder="abc@mail.com"
      />
    </div>
    <div class="mb-3">
      <dx-text-box
        mode="password"
        label="Şifre"
        labelMode="floating"
        formControlName="password"
        aria-describedby="passwordHelpId"
        placeholder="Şifre"
      />
    </div>
    <div class="mb-3">
      <dx-text-box
        mode="password"
        label="Şifreyi Onayla"
        labelMode="floating"
        formControlName="confirmPassword"
        aria-describedby="passwordHelpId"
        placeholder="Şifre"
      />
    </div>

    @if (errorMessage(); as error) {
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    } @if (successMessage(); as success) {
    <div class="alert alert-success" role="alert">{{ success }}</div>
    }

    <dx-button
      type="default"
      stylingMode="contained"
      icon="save"
      [disabled]="registerForm.invalid"
      [useSubmitBehavior]="true"
    >
      Gönder
    </dx-button>
  </form>
</div>
